.center{
  text-align:center
}
#space-invaders {
  margin: 0 auto;
  display: block;
  background: linen
}
.transitions-bg {
        position:fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-color:transparents
}
.transitions-bg video {
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        min-width: 177.77vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}
.transitions-bg video#chrome.transparent {
  opacity: 0;
}