@media (min-width: 740px) {
  h1{
    text-align: center;
      white-space: pre;
  }
  h3{
      text-align: center;
      white-space: pre;
  }
  h5{
      text-align: center;
      white-space: pre;
  }
  h6{
      text-align: center;
      white-space: pre;
  }
  .memo{
      width: 100%;
      border-radius: 5px;
      border: 0px;
  }
}
@media (max-width: 600px) {
  h1{
    text-align: center;
  }
  h3{
      text-align: center;
      font-size: 0.75rem;
  }
  h5{
      text-align: center;
      font-size: 0.75rem;
  }
  h6{
      text-align: center;
      font-size: 0.75rem;
  }
  .memo{
    transform: translate(50%);
      width: 50%;
      border-radius: 5px;
      border: 0px;
  }
}
.div{
  display: block;
}
.memoPreview{
    vertical-align: middle;
}
.memoCentered {
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.memoTextArea{
  resize: none;
  width: 75%;
  height: 10vh;
    background-color: linen;
}
.edit{
    text-align: center;
    vertical-align: middle;
}
.editColored{
  display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    background-color: rosybrown;}
.memoRow{
  width: 75%;
}
.memoCreate{
  transform: translate(50%);
  display: block;
  width: 50%;
  border-radius: 5px;
  /* position: absolute; */
  border: 0px;
  /* box-shadow: 5px 5px 2px 2px black; */
  /* background-color: burlywood; */
}

.postit button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 15px;
  border: 0;
  position: absolute;
  z-index: 2;
}

.postit .edit {
  top: 20%;
  left: 30%;
  box-shadow: 2px 2px 1px 1px grey;
}

.postit .remove {
  top: 20%;
  right: 30%;
  box-shadow: 2px 2px 1px 1px grey;
}

body{
    background-color: linen;
}

.a4banners {
  position: fixed;
  right: 0;
}


.a4 {
  width: 42px;
  height: 60px;
  background-color: #ffffff;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
